@import url('https://fonts.googleapis.com/css?family=Open+Sans:400i,600,700,800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.menu-container{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button{
  position: relative;
  background: #1b1b1b;
  color: white;
  font-size: 20px;
  padding: 8px 20px;
  width: 150px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 25px;
  cursor: pointer;
  transition: width .4s;
}
.button.expand{
  width: 100%;
}
.fas.expand:before{
  content: '\f00d';
}
ul{
  list-style: none;
  position: absolute;
  top: 65px;
  display: block;
  background: #1b1b1b;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  display: none;
  box-shadow: 0 3px 6px rgba(0,0,0,0.3);
}
ul:before{
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  background: #1b1b1b;
  top: -10px;
  right: 15px;
  transform: rotate(45deg);
  z-index: -1;
}
ul li{
  line-height: 35px;
  padding: 8px 20px;
  cursor: pointer;
  border: 1px solid transparent;
  border-bottom: 1px solid rgba(255,255,255,.1);
}
ul li:last-child{
  border-bottom: none;
}
ul li:hover{
  box-shadow: inset 0 0 5px #33ffff,
              inset 0 0 10px #66ffff;
}
ul li:hover:first-child{
  border-radius: 5px 5px 0 0;
}
ul li:hover:last-child{
  border-radius: 0 0 5px 5px;
}
ul li a{
  color: white;
  font-size: 18px;
  text-decoration: none;
}
ul li:hover a{
  color: cyan;
}
html {
    scroll-behavior: smooth;
}
.button2{
    position: relative;
    background: #1b1b1b;
    color: white;
    font-size: 19px;
    padding: 8px 20px;
    width: 400px;
    line-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 80px;
    transition: width .4s;
} 

.menu-container2{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button3{
    position: relative;
    background: #1b1b1b;
    color: white;
    font-size: 13px;
    padding: 8px 20px;
    width: 350px;
    line-height:15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 70px;
    transition: width .4s;
} 

.menu-container3{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -1%);
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
   
   /* Banner styles */
       .banner {
           height: 657px;
           background-image: url('https://www-cdn.eumetsat.int/files/styles/16_9_large/s3/2020-04/img_il_06_12_20_a_lrg.gif?h=fc029a19&itok=Yl56Yjii');
           background-repeat: no-repeat;
         background-attachment: fixed;
         background-size: cover;
           color: #fff;
           padding: 10px;
           text-align: center;
       }
       
       /* Footer styles */
       .footer {
           background-color: #ddd;
           text-align: center;
       }
/* Callout box - fixed position at the bottom of the page */
.callout {
    position: fixed;
    bottom: 35px;
    right: 20px;
    margin-left: 20px;
    max-width: 300px;
  }
  
  /* Callout header */
  .callout-header {
    padding: 15px 15px;
    background: #1b1b1b;
    font-size: 30px;
    color: white;
  }
  
  /* Callout container/body */
  .callout-container {
    padding: 15px;
    background-color: #ccc;
    color: black
  }
  
  /* Close button */
  .closebtn {
    position: absolute;
    top: 5px;
    right: 15px;
    color: white;
    font-size: 30px;
    cursor: pointer;
  }
  
  /* Change color on mouse-over */
  .closebtn:hover {
    color: lightgrey;
  }      

  .topleft {
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 30px;
  }

       
       


       
   